/* src/styles.css or your main CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('path/to/RedHatText-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Red Hat Text Italic';
  src: url('path/to/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 100 900;
}
